.blocFormation {
    position: relative;
    display: inline-block;
    min-height: 1px;
    top: 200px;
    height: auto;
    padding: 15px;
    width: 25%;
    float: left;
    left: 30%;
}

.h1 {
    text-align: center;
    background-color:white;
}

